<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>URide</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="/fragments/navbar :: navbar"></div>

	<div class="panel panel-default" align="center" style="float: center; width: 90%; margin: 2.5%">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Future Rides</div>
	  	<div class="panel-body">
	  	</div>
	  	<!-- Table -->
	  	<table class="table">
	  		<thead>
	  			<tr>
	  				<td>From</td>
	  				<td>To</td>
	  				<td >Driver</td>
	  				<td>Depart Time</td>
	  				<td>Arrive Time</td>
	  				<td>Date</td>
	  			</tr>
	  		</thead>
	  		<tbody>
		  		<div th:each = "ride : ${rides}" >
		  			<tr>
		  				<td th:text="*{ride.initialPoint}">Initial Point</td>
		  				<td th:text="*{ride.finalPoint}">Final Point</td>
						<td th:text="*{ride.dName}">Driver's Name</td>
						<td th:text="*{ride.departTime}">Depart Time</td>
						<td th:text="*{ride.arriveTime}">Arrive Time</td>
						<td th:text="*{ride.date}">Date</td>
						<form action="#" th:action="@{'/ride/'+ ${ride.id}}">
							<td><input type="submit" value="see more" style="width:100%"></input></td>
						</form>
					</tr>
		  		</div>
	  		</tbody>
	  	</table>
	  	<div>
		<form th:action="@{/ride/create}" method="get">
			<input class="btn btn-default btn-lg btn-success" type="submit" style="float: center"
					value="New Ride"/>
		</form>
		</div>
	</div>
</body>
</html>