<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>URide</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"
	th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
	    <div class="jumbotron">
	        <h1>Hello</h1>
	 
	        <h2>URiders</h2>
	    </div>
	</div>
	<div class = "wrapper">
		<div class="form-signin">
						<form action="#" th:action="@{/login}" th:object="${user}"
						method="post">
						<h2 class="form-signin-heading">Please login</h2>
						<input type="text" name="user"
							th:field="*{name}" placeholder="Username" /> 
							<input
							type="password" name="password"
							th:field="*{password}" placeholder="Password" />
						<button class="btn btn-lg btn-primary btn-block" type="submit"
							onclick="location.href='/profile'">Login</button>
						<input type="button" class="btn btn-lg btn-info btn-block"
							onclick="location.href='/signup'" value="Sign Up" />
							</form>   		
		</div>
	</div>
</body>
</html>