<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>URide</title>
    <!-- Latest compiled and minified CSS -->
<link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="/fragments/navbar :: navbar"></div>
	<div class="panel panel-default" align="center" style="float: center; width: 90%; margin: 2.5%">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Ride</div>
	  	<div class="panel-body">
	  	</div>
	  	<!-- Table -->
	  	<table class="table">
	  		<thead>
	  			<tr>
	  				<td >Driver</td>
	  				<td>Date</td>
	  				<td th:text = "${'Depart From ' + iPoint +' At:'}">Depart At</td>
	  				<td th:text = "${'Arrive At ' + fPoint + ' At:'}">Arrive At</td>
	  			</tr>
	  		</thead>
	  		<tbody>
		  			<tr>
						<td th:text="*{ride.dName}">Driver's Name</td>
						<td th:text="*{ride.date}">Date</td>
						<td th:text="*{ride.departTime}">Depart Time</td>
						<td th:text="*{ride.arriveTime}">Arrive Time</td>
						<div th:if="${ride.checkIfUserInRide(suser)}">
							<form action="#" th:action="@{'/ride/leave/' + ${ride.id}}">
								<td><input type="submit" value="leave" style="width:100%"></input></td>
							</form>
						</div>
						<div th:if="!${ride.checkIfUserInRide(suser)}">
							<form action="#" th:action="@{'/ride/join/' + ${ride.id}}">
								<td><input type="submit" value="join" style="width:100%"></input></td>
							</form>
						</div>
					</tr>
	  		</tbody>
	  	</table>
	</div>
</body>
</html>